* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

nav {

}

nav h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700px;
}

nav h1 span {
    
}

.nav-items {
    display: flex;
    justify-content: space-between;
}

.nav-items div:nth-child(1) {
    display: flex;
    gap: 30px;
}