* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

nav {
    padding-top: 20px;
}

nav h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700px;
}

nav h1 span {
    color: rgba(255, 159, 13, 1);
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.nav-items div:nth-child(1) {
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-items div:nth-child(1) a {
    text-decoration: none;
    color: black;
}

.nav-items div:nth-child(1) a .bxs-circle {
    color:  rgba(255, 159, 13, 1);
    font-size: 10px;
}

.home-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 5px;
}

.nav-items div:nth-child(2) {
    display: flex;
    align-items: center;
}

.nav-items div:nth-child(2) input {
    padding: 10px;
    width: 300px;
    border-radius: 50px;
    border: 2px solid  rgba(255, 159, 13, 1);
    font-size: 15px;
    outline: none;
}

.nav-items div:nth-child(2)  .bx-search{
    font-size: 25px;
    position: relative;
    right: 35px;
}

.nav-items div:nth-child(2)  .bxs-shopping-bag{
    font-size: 25px;
    position: relative;
    right: 20px;
}

/* Hero SECTION */

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    padding-top: 50px;
    
}

.hero-section .aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.hero-section .aside div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-section #underline {
    background: black;
    width: 1px;
    height: 130px;
}

.hero-section img {
    width: 700px;
    object-fit: cover;
}

.hero-section div:nth-child(1) {
    display: flex;
    gap: 30px;
}

.hero-section div:nth-child(1) h1 {
    font-family: "Great Vibes", cursive;
    font-style: normal;
    line-height: 68px;
}

.hero-section div:nth-child(1) span {
    font-size: 60px;
    width: 500px;
}

.hero-section div:nth-child(1) #word-the {
    color:  rgba(255, 159, 13, 1);
}

.hero-section div:nth-child(1) p {
    width: 400px;
    font-size: 16px;
    line-height: 24px;
    padding: 20px 0px;
}

.hero-section div:nth-child(1) button {
    background: rgba(255, 159, 13, 1);
    width: 190px;
    height: 60px;
    border-radius: 30px;
    font-size: 16px;
    color: white;
    border: none;
}

/* ABOUT US SECTION */

.about-us-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    padding-top: 100px;
}

.about-us-1 #about-us{
    font-family: "Great Vibes", cursive;
    font-size: 32px;
    color: rgba(255, 159, 13, 1);
}

.about-us-1 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    width: 446px;
    height: 110px;
}

.about-us-1 h1 #we {
    color: rgba(255, 159, 13, 1)
}

.about-us-1 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 500px;
    text-align: justify;
    padding: 20px 0px;
}

.about-us-1 #p-1 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 520px;
}

.about-us-1 #p-2 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 550px;
    padding: 20px 0px;
}

.about-us-1 #p-3 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 520px;
}

.about-us-2 div:nth-child(1) img {
    width: 600px;
}

.about-us-2 div:nth-child(2) img {
    width: 290px;
}

.about-us-2 div:nth-child(2) {
    display: flex;
    justify-self: center;
    gap: 15px;
    margin-top: 10px;
}

.about-us-1 button {
    border: none;
    background: rgba(255, 159, 13, 1);
    width: 190px;
    height: 60px;
    border-radius: 30px;
    font-size: 16px;
    color: white;
    margin-top: 20px;
}

/* FOOD CATEGORY SECTION*/

.food-category {
    margin-top: 100px;
}

.food-category div:nth-child(1) {
    font-family: "Great Vibes", cursive;    
    color:  rgba(255, 159, 13, 1);
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.food-category h1 {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.food-category div:nth-child(3) img {
    width: 270px;
}

.food-category div:nth-child(3) {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    justify-self: center;
    gap: 20px;
}

/* WHY CHOOSE US */

.choose-us {
    display: flex;
    align-items: center;
    margin-top: 100px;
    padding: 0px 100px;
}

.choose-us div:nth-child(1) {

}

.choose-us .grp-1 {
    padding-bottom: 15px;
}

.choose-us .grp-1 img:nth-child(2) {
    padding-left: 20px;
    width: 300px;
    height: 250px;
}

.choose-us .grp-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr 1fr 1fr);
    gap: 20px;
}

.choose-us .grp-2 div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.choose-us div:nth-child(2) .title {
    font-family: "Great Vibes", cursive;    
    color:  rgba(255, 159, 13, 1);
    font-size: 32px;
}

.choose-us div:nth-child(2) h1 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.choose-us div:nth-child(2) h1 span {
    color:  rgba(255, 159, 13, 1);
    
}

.choose-us div:nth-child(2) p {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    margin: 20px 0px;
}



