* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

nav {

}

nav h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700px;
}

nav h1 span {
    color: rgb(233, 116, 7);
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items div:nth-child(1) {
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-items div:nth-child(1) a {
    text-decoration: none;
    color: black;
}

.nav-items div:nth-child(1) a .bxs-circle {
    color:  rgb(233, 116, 7);
    font-size: 10px;
}

.home-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 5px;
}

.nav-items div:nth-child(2) {
    display: flex;
    align-items: center;
}

.nav-items div:nth-child(2) input {
    padding: 10px;
    width: 300px;
    border-radius: 50px;
    border: 2px solid  rgb(233, 116, 7);
    font-size: 15px;
    outline: none;
}

.nav-items div:nth-child(2)  .bx-search{
    font-size: 25px;
    position: relative;
    right: 35px;
}

.nav-items div:nth-child(2)  .bxs-shopping-bag{
    font-size: 25px;
    position: relative;
    right: 20px;
}

/* Hero SECTION */

.hero-section {
    display: flex;
    align-items: center;
}

.hero-section img {
    width: 500px;
}

.hero-section div:nth-child(1) {
    display: flex;
    flex-direction: column;
}

 
